.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: rgb(48, 48, 48);
}

.header-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

.topic-selector {
  width: 249px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  padding-top: 5px;
}

.markdown-content {
  padding: 20px;
}
