<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="./assets/jaysoft_logo.png" alt="JaySoft" />
    </mat-toolbar>
    <mat-form-field class="topic-selector " color="accent" appearance="fill">
      <mat-label>Thema</mat-label>
      <mat-select disableOptionCentering="true" [(ngModel)]="selectedTopic" name="topic" (selectionChange)="setTopic()">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic.topic}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list color="accent" *ngFor="let title of titles">
      <a mat-list-item (click)="setTitle(title)">{{title.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <em>INFOLLECTOR</em>
    </mat-toolbar>
    <div class="main-content">
      <ng-container [ngSwitch]="displayType">
        <ng-container *ngSwitchCase="DisplayTypeEnum.default">
          <ng-container *ngTemplateOutlet="DefaultDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="DisplayTypeEnum.onePage">
          <ng-container *ngTemplateOutlet="OnePageDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="DisplayTypeEnum.multiPages">
          <ng-container *ngTemplateOutlet="MultiPagesDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="DisplayTypeEnum.error">
          <ng-container *ngTemplateOutlet="ErrorDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="DefaultDisplay"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Alternative Templates -->
<ng-template #MultiPagesDisplay>
  <mat-tab-group color="accent" animationDuration="0" [(selectedIndex)]="selectedTab">
    <mat-tab *ngFor="let page of pages" [label]="page.page">
      <!-- Lazy Loading Tabs -->
      <ng-template matTabContent>
        <div class="markdown-content">
          <markdown [src]="getMarkDownPath(page.path)" ngPreserveWhitespaces></markdown>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<ng-template #OnePageDisplay>
  <div class="markdown-content">
    <markdown [src]="getMarkDownPath(selectedPage.path)" ngPreserveWhitespaces></markdown>
  </div>
</ng-template>
<ng-template #DefaultDisplay>
  <ifx-md-default [hintType]="hintType"></ifx-md-default>
</ng-template>
<ng-template #ErrorDisplay>
  <ifx-md-error [infollectorError]="infollectorError"></ifx-md-error>
</ng-template>