<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="./assets/jaysoft_logo.png" alt="JaySoft" />
    </mat-toolbar>
    <mat-form-field class="topic-selector " color="accent" appearance="fill">
      <mat-label>Thema</mat-label>
      <mat-select disableOptionCentering="true" [(ngModel)]="selectedTopic" name="topic" (selectionChange)="setTopic()">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic.topic}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list color="accent" *ngFor="let markDownFile of markDownFiles">
      <a mat-list-item (click)="setMarkDownFile(markDownFile)">{{markDownFile.displayname}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <em>INFOLLECTOR</em>
    </mat-toolbar>
    <div class="main-content">
      <ng-container [ngSwitch]="displayType">
        <ng-container *ngSwitchCase="DisplayTypeEnum.default">
          <ng-container *ngTemplateOutlet="DefaultDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="DisplayTypeEnum.noSubitems">
          <ng-container *ngTemplateOutlet="NoSubitemsDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="DisplayTypeEnum.subitems">
          <ng-container *ngTemplateOutlet="SubitemsDisplay"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="DefaultDisplay"></ng-container>
        </ng-container>
      </ng-container>
      <!-- <div *ngIf="hasSubitems(); then WithSubitems else WithoutSubitems"></div> -->
     </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Alternative Templates -->
<ng-template #SubitemsDisplay>
  <mat-tab-group color="accent" animationDuration="0">
    <mat-tab *ngFor="let subitem of selectedMarkDownFile.subitems" [label]="subitem.itemname">
      <div class="markdown-content">
        <markdown [src]="getFilePath(subitem.filename)" ngPreserveWhitespaces></markdown>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<ng-template #NoSubitemsDisplay>
  <div class="markdown-content">
    <markdown [src]="getFilePath(selectedMarkDownFile.filename)" ngPreserveWhitespaces></markdown>
  </div>
</ng-template>
<ng-template #DefaultDisplay>
  <ifx-md-default [mode]="defaultMode"></ifx-md-default>
</ng-template>
