<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="header-logo" src="./assets/jaysoft.svg" alt="JaySoft" />
    </mat-toolbar>
    <mat-nav-list color="accent" *ngFor="let markDownFile of markDownFiles">
      <a mat-list-item (click)="setMarkDownFile(markDownFile)">{{markDownFile.displayname}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Infollector</span>
    </mat-toolbar>
    <div>
      <div *ngIf="hasSubitems(); then WithSubitems else WithoutSubitems"></div>
      <ng-template #WithSubitems>
        <mat-tab-group color="accent" animationDuration="0">
          <mat-tab *ngFor="let subitem of selectedMarkDownFile.subitems" [label]="subitem.itemname">
            <div class="markdown-content">
              <markdown [src]="getFilePath(subitem.filename)" ngPreserveWhitespaces></markdown>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
      <ng-template #WithoutSubitems>
        <div class="markdown-content">
          <markdown [src]="getFilePath(selectedMarkDownFile.filename)" ngPreserveWhitespaces></markdown>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>