<div class="flex-page">
  <img src="./assets/bug.png" alt="Bug" />
    <ng-container [ngSwitch]="infollectorError.type">
      <ng-container *ngSwitchCase="ErrorTypeEnum.none"></ng-container>
      <ng-container *ngSwitchCase="ErrorTypeEnum.collection">
        <img src="./assets/error-collection.png" alt="Problem mit Sammlungsliste" />
      </ng-container>
      <ng-container *ngSwitchCase="ErrorTypeEnum.topic">
        <img src="./assets/error-topic.png" alt="Problem mit Themenliste" />
      </ng-container>
      <ng-container *ngSwitchCase="ErrorTypeEnum.title">
        <img src="./assets/error-title.png" alt="Problem mit Titelliste" />
      </ng-container>
      <ng-container *ngSwitchCase="ErrorTypeEnum.page">
        <img src="./assets/error-page.png" alt="Problem mit Seitenliste" />
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
  <ng-container *ngIf="hasError()">
    <ng-container [ngSwitch]="infollectorError.subtype">
      <ng-container *ngSwitchCase="ErrorSubTypeEnum.none"></ng-container>
      <ng-container *ngSwitchCase="ErrorSubTypeEnum.file">
        <h2>{{errMsgFile}}:</h2>
      </ng-container>
      <ng-container *ngSwitchCase="ErrorSubTypeEnum.structure">
        <h2>{{errMsgStructure}}:</h2>
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
    {{infollectorError.message}}
  </ng-container>
</div>