<div class="flex-page">
  <img src="./assets/infollector.png" alt="INFOLLECTOR" />
  <div class="flex-row-element">
    <ng-container [ngSwitch]="hintType">
      <ng-container *ngSwitchCase="HintTypeEnum.noHint"></ng-container>
      <ng-container *ngSwitchCase="HintTypeEnum.topicHint">
        <img src="./assets/hint-topic.png" alt="Themenwahl" />
      </ng-container>
      <ng-container *ngSwitchCase="HintTypeEnum.titleHint">
        <img src="./assets/hint-title.png" alt="Titelwahl" />
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
    <span class="align-right">
      <em>by&nbsp;&nbsp;&nbsp;</em>
      <img src="./assets/jaysoft_logo.png" alt="JaySoft" />
    </span>
  </div>
</div>