<div class="flex-page">
  <img src="./assets/infollector.png" alt="INFOLLECTOR" />
  <div class="flex-row-element">
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="ModeEnum.noHint"></ng-container>
      <ng-container *ngSwitchCase="ModeEnum.themeHint">
        <img src="./assets/theme-hint.png" alt="Themenwahl" />
      </ng-container>
      <ng-container *ngSwitchCase="ModeEnum.titleHint">
        <img src="./assets/title-hint.png" alt="Titelwahl" />
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
    <span class="align-right">
      <em>by&nbsp;&nbsp;&nbsp;</em>
      <img src="./assets/jaysoft_logo.png" alt="JaySoft" />
    </span>
  </div>
</div>