html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

a:link {
  color: rgb(24, 255, 255);
}

a:visited {
  color: rgb(24, 255, 255);
}

a:hover {
  color: rgb(24, 200, 200);
}

a:active {
  color: rgb(255, 255, 255);
}

/* for ngx-markdown */
markdown img {
  max-width: 100%
}

blockquote {
  border-left: 3px solid rgb(24, 255, 255);
  padding-left: 12px;
  color: rgb(200, 200, 200);
  font-style: italic;
}
