html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

a:link {
  color: rgb(24, 255, 255);
}

a:visited {
  color: rgb(24, 255, 255);
}

a:hover {
  color: rgb(24, 200, 200);
}

a:active {
  color: rgb(255, 255, 255);
}

markdown img {
  max-width: 100%
}
